---
apiVersion: v1
kind: Service
metadata:
  name: unifi
  labels:
    app.kubernetes.io/name: unifi
    app.kubernetes.io/instance: unifi
spec:
  type: ExternalName
  externalName: unifi.
  ports:
    - name: http
      port: &port 443
      protocol: TCP
      targetPort: *port
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: unifi
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
  labels:
    app.kubernetes.io/name: unifi
    app.kubernetes.io/instance: unifi
spec:
  ingressClassName: internal
  rules:
    - host: &host unifi.rodent.cc
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: unifi
                port:
                  number: 443
  tls:
    - hosts:
        - *host
