---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./cilium/ks.yaml
  - ./coredns/ks.yaml
  - ./external-secrets/ks.yaml
  - ./metrics-server/ks.yaml
  - ./namespace.yaml
