---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coder-gatus-ep
  namespace: dev
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: coder
        group: external
        url: https://coder.${SECRET_DOMAIN}/web/index.html
        interval: 1m
        client:
          dns-resolver: tcp://1.1.1.1:53
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: pushover
