---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pinepods
spec:
  chartRef:
    kind: OCIRepository
    name: pinepods
  interval: 1h
  values:
    controllers:
      pinepods:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
        containers:
          app:
            image:
              repository: madeofpendletonwool/pinepods
              tag: 0.8.1@sha256:ab2af358f25775d010fcad2481b44f8def507740195aa64ff7ef2b5e7d72d699
            env:
              # Basic Server Info
              SEARCH_API_URL: 'https://search.pinepods.online/api/search'
              PEOPLE_API_URL: 'https://people.pinepods.online'
              HOSTNAME: "https://pinepods.rodent.cc"
              TZ: Europe/Oslo
              # Valkey Settings
              VALKEY_HOST: dragonfly.database.svc.cluster.local
              VALKEY_PORT: 6379
            envFrom: *envFrom
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    service:
      server:
        controller: pinepods
        ports:
          http:
            port: &port 8040
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.rodent.cc"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: server
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /opt/pinepods
      media:
        type: nfs
        server: tank.internal
        path: /mnt/tank/Media/Media/Pinepods
        globalMounts:
          - path: /opt/pinepods/downloads
      cache:
        type: emptyDir
        globalMounts:
          - path: /pinepods/cache
