---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./secret.sops.yaml
  # Templates
  - ../../../../templates/gatus/guarded
