# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: qbittools-tagging
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: qbittorrent
      namespace: media
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"

    controllers:
      main:
        type: cronjob
        cronjob:
          schedule: "@hourly"

        containers:
          main:
            image:
              repository: ghcr.io/buroa/qbtools
              tag: v0.10.0
              pullPolicy: IfNotPresent

            args:
              - tagging
              - --not-working
              - --unregistered
              - --added-on
              - --last-activity
              - --tracker-down
              - -s
              - qbittorrent.media.svc.cluster.local
              - -p
              - "80"

            resources:
              requests:
                memory: 250Mi
                cpu: 25m
              limits:
                memory: 500Mi

    service:
      main:
        enabled: false
