---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: shelfmark
spec:
  chartRef:
    kind: OCIRepository
    name: shelfmark
  interval: 1h
  values:
    controllers:
      shelfmark:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/calibrain/shelfmark-lite
              tag: dev@sha256:d1e0a5707cd9a2f49a7e387b45bcae7c667d79107766be2806f707e79071250d
            env:
              TZ: Europe/Oslo
              FLASK_PORT: &port 8084
              SEARCH_MODE: "universal"

              # Download destinations
              INGEST_DIR: /media/Downloads/complete/books
              DESTINATION_AUDIOBOOK: /media/Media/Books

              # Metadata provider configuration
              METADATA_PROVIDER: hardcover
              METADATA_PROVIDER_AUDIOBOOK: hardcover
              HARDCOVER_ENABLED: "true"
              DEFAULT_RELEASE_SOURCE: prowlarr

              # Prowlarr integration
              PROWLARR_ENABLED: "true"
              PROWLARR_URL: http://prowlarr:80
              PROWLARR_TORRENT_CLIENT: qbittorrent
              QBITTORRENT_URL: http://qbittorrent:80

              # File organization
              FILE_ORGANIZATION_AUDIOBOOK: organize
              # TEMPLATE_AUDIOBOOK_ORGANIZE: "{Author}/{Series}/{SeriesPosition - }{Title}{ (Year)}/{Author} - {Title}{ - PartNumber}"
              # HARDLINK_TORRENTS: "true"
              HARDLINK_TORRENTS_AUDIOBOOKS: "true"
            envFrom:
              - secretRef:
                  name: shelfmark-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.rodent.cc"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      media:
        type: nfs
        server: tank.internal
        path: /mnt/tank/Media
        globalMounts:
          - path: /media
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /var/log
            subPath: var-log
