---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  - ../../templates/alerts
  # Flux-Kustomizations
  - ./cloudnative-pg/ks.yaml
  - ./emqx/ks.yaml
  - ./dragonfly/ks.yaml
transformers:
  - |-
    apiVersion: builtin
    kind: NamespaceTransformer
    metadata:
      name: not-used
      namespace: database
    unsetOnly: true
