---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-admin
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: grafana-admin-secret
    template:
      data:
        admin-user: "{{ .GRAFANA_ADMIN_USERNAME }}"
        admin-password: "{{ .GRAFANA_ADMIN_PASSWORD }}"

        # OAuth
        GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "{{ .GF_AUTH_GENERIC_OAUTH_CLIENT_ID }}"
        GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "{{ .GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET }}"
        GF_AUTH_GENERIC_OAUTH_AUTH_URL: "{{ .GF_AUTH_GENERIC_OAUTH_AUTH_URL }}"
        GF_AUTH_GENERIC_OAUTH_TOKEN_URL: "{{ .GF_AUTH_GENERIC_OAUTH_TOKEN_URL }}"
        GF_AUTH_GENERIC_OAUTH_API_URL: "{{ .GF_AUTH_GENERIC_OAUTH_API_URL }}"
        # Database
        GF_DATABASE_NAME: &dbName grafana
        GF_DATABASE_HOST: &dbUrl postgres-rw.database.svc.cluster.local
        GF_DATABASE_USER: &dbUser "{{ .GRAFANA_POSTGRES_USER }}"
        GF_DATABASE_PASSWORD: &dbPass "{{ .GRAFANA_POSTGRES_PASS }}"
        # Database Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbUrl
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: grafana
