---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: paperless
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: paperless-secret
    template:
      engineVersion: v2
      data:
        # Postgres Init
        PAPERLESS_ADMIN_USER: "{{ .PAPERLESS_ADMIN_USER }}"
        PAPERLESS_ADMIN_PASSWORD: "{{ .PAPERLESS_ADMIN_PASSWORD }}"
        PAPERLESS_SECRET_KEY: "{{ .PAPERLESS_SECRET_KEY }}"
        PAPERLESS_SOCIALACCOUNT_PROVIDERS: |
          {
            "openid_connect": {
              "APPS": [
                {
                  "provider_id": "zitadel",
                  "name": "Zitadel",
                  "client_id": "PAPERLESS_OAUTH_CLIENT_ID",
                  "secret": "{{ .PAPERLESS_OAUTH_CLIENT_SECRET }}",
                  "settings": {
                    "server_url": "{{ .PAPERLESS_OAUTH_ISSUER_URL }}"
                  }
                }
              ]
            }
          }
  dataFrom:
    - extract:
        key: paperless
