---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  chartRef:
    kind: OCIRepository
    name: immich
  interval: 1h
  values:
    controllers:
      immich:
        annotations:
          reloader.stakater.com/auto: "true"
        type: deployment
        strategy: RollingUpdate
        replicas: 1
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a
            envFrom: *envFrom
            env: &env
              REDIS_HOSTNAME: dragonfly.database.svc.cluster.local
              TZ: Europe/Oslo
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 3Gi
      machine-learning:
        pod:
          resourceClaims:
            - name: gpu
              resourceClaimTemplateName: immich
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.6@sha256:b213fa3c82d27a21a299c46ffbb38a091f18384db1ad67d409a3b34fe0fce556
            envFrom: *envFrom
            env: *env
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      server:
        controller: immich
        ports:
          http:
            primary: true
            port: &port 2283
          metrics:
            port: 8081
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: 3003
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.rodent.cc"
          - photos.rodent.cc
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: server
                port: *port
    persistence:
      media:
        type: nfs
        server: tank.internal
        path: /mnt/tank/Photos
        globalMounts:
          - path: /usr/src/app/upload
            subPath: Immich
      tmp:
        type: emptyDir
        advancedMounts:
          machine-learning:
            app:
              - path: /cache
                subPath: cache
              - path: /.cache
                subPath: dotCache
