---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vikunja
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      vikunja:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/vikunja/vikunja
              tag: 0.24.6@sha256:7d235a4d6e497d0ffe406305ca4e90e06295be21270709c2bff7cac232df8002
            envFrom:
              - secretRef:
                  name: vikunja-secret
            env:
              VIKUNJA_SERVICE_TIMEZONE: Europe/Oslo
              VIKUNJA_SERVICE_FRONTENDURL: https://tasks.rodent.cc
              VIKUNJA_FILES_BASEPATH: /files
              VIKUNJA_DATABASE_TYPE: sqlite
              VIKUNJA_DATABASE_PATH: /db/vikunja.db
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: vikunja
        ports:
          http:
            port: 3456
    ingress:
      app:
        enabled: true
        className: external
        hosts:
          - host: &host "tasks.rodent.cc"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: config-vikunja
        advancedMounts:
          vikunja:
            app:
              - path: /db
                subPath: db
              - path: /files
                subPath: files
      vikunja-config:
        type: secret
        name: vikunja-configmap-secret
        globalMounts:
          - path: /etc/vikunja/config.yml
            subPath: config.yml
