---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # App
  - ./configmap.yaml
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  # Templates
  - ../../../../../shared/templates/gatus/external
  - ../../../../../shared/templates/volsync
