machine:
  type: controlplane
  network:
    hostname: node-1
  install:
    diskSelector:
      model: SanDisk SD9TB8*
    image: factory.talos.dev/installer/f42f91f764a8748a16ed1e721719294df9b7523eeda2863f781383df4cfd01fe:{{ ENV.TALOS_VERSION }}
