machine:
  type: worker
  network:
    hostname: node-4
  install:
    diskSelector:
      model: KINGSTON SA400S3
    image: factory.talos.dev/installer/c5cc54fb4a4c5f9d9618d698322640e4bc5ee479ae5fa049a434894a6ff24b77:{{ ENV.TALOS_VERSION }}
