machine:
  network:
    hostname: node-1
  disks:
    - device: /dev/disk/by-id/ata-SanDisk_SD9TB8W-512G-1006_182194420295
      partitions:
        - mountpoint: /var/mnt/extra
  install:
    image: factory.talos.dev/installer/74a9984df01c8501946cef09b2007f32da73976f9927d1f8bfc728e21033810e:{{ ENV.TALOS_VERSION }}
