machine:
  type: worker
  network:
    hostname: node-5
  install:
    diskSelector:
      model: KINGSTON SA400S3
    image: factory.talos.dev/installer/6d77b92427e3eb978dee503b8266533b7b2c75a891ef3ffd66fee032f705683c:{{ ENV.TALOS_VERSION }}
