machine:
  type: controlplane
  network:
    hostname: node-3
  install:
    diskSelector:
      model: SanDisk SD9TB8*
    image: factory.talos.dev/installer/74a9984df01c8501946cef09b2007f32da73976f9927d1f8bfc728e21033810e:{{ ENV.TALOS_VERSION }}
