---
machine:
  install:
    diskSelector:
      model: KINGSTON SA400S3
    # renovate: datasource=docker depName=ghcr.io/siderolabs/installer
    image: factory.talos.dev/metal-installer/4c30b0249239cb74d8f2e353686db02e30d65870d851ba377b3304c9b5d1ff17:v1.11.1
  network:
    hostname: node-4
    interfaces:
      - interface: eth0
        mtu: 9000
        dhcp: true
  nodeLabels:
    topology.kubernetes.io/zone: m
  type: worker
