---
machine:
  install:
    diskSelector:
      model: SanDisk SD9TB8*
  nodeLabels:
    node.kubernetes.io/gpu: "true"
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: node-2
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: true
---
apiVersion: v1alpha1
kind: LinkConfig
name: net0
mtu: 9000
up: true
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: net0
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: 10.1.1.30
link: net0
---
apiVersion: v1alpha1
kind: VLANConfig
name: net0.67
vlanID: 67
parent: net0
mtu: 9000
addresses:
  - address: 10.1.67.32/24
routes:
  - gateway: 10.1.67.1
    table: 100
---
apiVersion: v1alpha1
kind: BGPInstanceConfig
name: main
routerID: 10.1.67.32
