---
machine:
  install:
    diskSelector:
      model: KINGSTON SA400S3
    image: factory.talos.dev/metal-installer/824eb32c534ee61699be68e5d0ba2e2003665eea77519b488d066e4bc254d775:v1.12.4
  type: worker
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: node-5
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: true
---
apiVersion: v1alpha1
kind: LinkConfig
name: net0
mtu: 9000
up: true
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: net0
