---
machine:
  install:
    diskSelector:
      model: SanDisk SD9TB8*
  nodeLabels:
    node.kubernetes.io/gpu: "true"
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: node-3
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: true
---
apiVersion: v1alpha1
kind: LinkConfig
name: net0
mtu: 9000
up: true
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: net0
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: 10.1.1.30
link: net0
