---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: selfhosted

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./actual/ks.yaml
  - ./atuin/ks.yaml
  - ./fusion/ks.yaml
  - ./home-assistant/ks.yaml
  - ./immich/ks.yaml
  - ./it-tools/ks.yaml
  - ./karakeep/ks.yaml
  - ./paperless-ai/ks.yaml
  - ./paperless/ks.yaml
  - ./pocket-id/ks.yaml
