---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multus
spec:
  interval: 30m
  chart:
    spec:
      chart: multus
      version: 5.0.4
      sourceRef:
        kind: HelmRepository
        name: angelnu
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    image:
      repository: ghcr.io/k8snetworkplumbingwg/multus-cni
      tag: v4.1.0-thick@sha256:cff774c9d14d62ed1adf9534c4dcaba89ea0aba19442f8193ea1082f23ef0adc
    cni:
      image:
        repository: ghcr.io/angelnu/cni-plugins
        tag: 1.5.1@sha256:e4bedec8c7a02872cfe730a7d1a873e3b834ed9aa79b0f9a7ae627e467f58e42
      logLevel: error
      paths:
        config: /etc/cni/net.d
        bin: /opt/cni/bin

    resources:
      requests:
        cpu: 5m
      limits:
        memory: 96Mi

    hostPaths:
      netns: /var/run/netns
