---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: readmeabook
spec:
  chartRef:
    kind: OCIRepository
    name: readmeabook
  interval: 1h
  values:
    controllers:
      readmeabook:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/kikootwo/readmeabook
              tag: 1.0.3@sha256:efd93c445b1dc0dc1f4437a1c187220ba02598b6bbc85f663076350b68f65282
            env:
              PUBLIC_URL: "https://readmeabook.rodent.cc"
              TZ: Europe/Oslo
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 3030
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.rodent.cc"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          readmeabook:
            app:
              - path: /app/config
                subPath: config
              - path: /app/cache
                subPath: cache
              - path: /var/lib/postgresql/data
                subPath: postgres
              - path: /var/lib/redis
                subPath: redis
      media:
        type: nfs
        server: tank.internal
        path: /mnt/tank/Media
        globalMounts:
          - path: /media
