---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: readmeabook
spec:
  chartRef:
    kind: OCIRepository
    name: readmeabook
  interval: 1h
  values:
    controllers:
      readmeabook:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
        containers:
          app:
            image:
              repository: ghcr.io/kikootwo/readmeabook
              tag: 1.0.10@sha256:25cd99f0ce9f38d03684f6be59b9a60d1712396e74735f65cfc2821caeb280d2
            env:
              PUID: 1000
              PGID: 1000
              PUBLIC_URL: https://readmeabook.rodent.cc
              REDIS_URL: redis://dragonfly.database.svc.cluster.local:6379
              TZ: Europe/Oslo
            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 3030
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.rodent.cc"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          readmeabook:
            app:
              - path: /app/config
                subPath: config
              - path: /app/cache
                subPath: cache
      media:
        type: nfs
        server: tank.internal
        path: /mnt/tank/Media
        globalMounts:
          - path: /media
