---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: node-5
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  topology.kubernetes.io/zone: m
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
provisioning:
  diskSelector:
    match: disk.model == "KINGSTON SA400S3"
