---
kind: Probe
apiVersion: monitoring.coreos.com/v1
metadata:
  name: homelab
  namespace: monitoring
spec:
  module: http_2xx
  prober:
    url: blackbox-exporter.monitoring.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - https://minio.${SECRET_DOMAIN}
        - https://tank.${SECRET_DOMAIN}
        - https://unifi.${SECRET_DOMAIN}
