---
{% if ENV.CONTROLPLANE %}
customization:
  extraKernelArgs:
    - intel_iommu=on # PCI Passthrough
    - iommu=pt # PCI Passthrough
  systemExtensions:
    officialExtensions:
      - siderolabs/i915 # Intel iGPU
      - siderolabs/intel-ucode # Intel iGPU
{% else %}
customization:
  extraKernelArgs:
    - amd_iommu=on # PCI Passthrough
    - iommu=pt # PCI Passthrough
  systemExtensions:
    officialExtensions:
      - siderolabs/amd-ucode # AMD Microcode
{% endif %}
