version: v1alpha1
debug: false
persist: true
machine:
  type: worker
  token: op://home-ops/talos/MACHINE_TOKEN
  ca:
    crt: op://home-ops/talos/MACHINE_CA_CRT
    key: ""
  certSANs: ["127.0.0.1", "10.1.1.30"]
  kubelet:
    image: ghcr.io/siderolabs/kubelet:{{ ENV.KUBERNETES_VERSION }}
    extraMounts:
      - destination: /var/mnt/extra
        type: bind
        source: /var/mnt/extra
        options: ["bind", "rshared", "rw"]
    defaultRuntimeSeccompProfileEnabled: true
    nodeIP:
      validSubnets: ["10.1.1.0/24"]
    disableManifestsDirectory: true
  network:
    interfaces:
      - interface: eth0
        mtu: 9000
        dhcp: true
  install:
    extraKernelArgs:
      - -selinux                            # Less security, faster puter
      - net.ifnames=0                       # eth0
      - apparmor=0                          # Less security, faster puter
      - init_on_alloc=0                     # Less security, faster puter
      - init_on_free=0                      # Less security, faster puter
      - amd_iommu=on                        # PCI Passthrough
      - iommu=pt                            # PCI Passthrough
      - mitigations=off                     # Less security, faster puter
      - security=none                       # Less security, faster puter
      - talos.auditd.disabled=1             # Less security, faster puter
    wipe: false
  files:
    - # Spegel
      op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
    - op: overwrite
      path: /etc/nfsmount.conf
      permissions: 420
      content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        nconnect=16
        noatime=True
  sysctls:
    fs.inotify.max_user_watches: 1048576   # Watchdog
    fs.inotify.max_user_instances: 8192    # Watchdog
    net.core.default_qdisc: fq             # 10Gb/s
    net.core.rmem_max: 67108864            # 10Gb/s | Cloudflared / QUIC
    net.core.wmem_max: 67108864            # 10Gb/s | Cloudflared / QUIC
    net.ipv4.tcp_congestion_control: bbr   # 10Gb/s
    net.ipv4.tcp_fastopen: 3               # Send and accept data in the opening SYN packet
    net.ipv4.tcp_mtu_probing: 1            # 10Gb/s | Jumbo frames
    net.ipv4.tcp_rmem: 4096 87380 33554432 # 10Gb/s
    net.ipv4.tcp_wmem: 4096 65536 33554432 # 10Gb/s
    net.ipv4.tcp_window_scaling: 1         # 10Gb/s
    vm.nr_hugepages: 1024                  # PostgreSQL
  features:
    rbac: true
    stableHostname: true
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
    hostDNS:
      enabled: true
      resolveMemberNames: true
      forwardKubeDNSToHost: false
  udev:
    rules:
      - # Eaton UPS
        SUBSYSTEM=="usb", ATTR{idVendor}=="0463", ATTR{idProduct}=="ffff", GROUP="20", MODE="0660"
  kernel:
    modules:
      - name: nbd
  nodeLabels:
    topology.kubernetes.io/region: main
    topology.kubernetes.io/zone: m
cluster:
  id: op://home-ops/talos/CLUSTER_ID
  secret: op://home-ops/talos/CLUSTER_SECRET
  controlPlane:
    endpoint: https://10.1.1.30:6443
  clusterName: main
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets: ["10.42.0.0/16"]
    serviceSubnets: ["10.43.0.0/16"]
  token: op://home-ops/talos/CLUSTER_TOKEN
  ca:
    crt: op://home-ops/talos/CLUSTER_CA_CRT
    key: ""
