---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
version: v1alpha1
machine:
  ca:
    crt: op://home-ops/talos/MACHINE_CA_CRT
  certSANs:
    - 127.0.0.1
    - 10.1.1.30
  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: false
      resolveMemberNames: true
    kubePrism:
      enabled: true
      port: 7445
    rbac: true
    stableHostname: true
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        [plugins."io.containerd.cri.v1.runtime"]
          device_ownership_from_security_context = true
    - op: overwrite
      path: /etc/nfsmount.conf
      permissions: 0o644
      content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        nconnect=16
        noatime=True
  install:
    diskSelector:
      model: KINGSTON SA400S3
    image: factory.talos.dev/metal-installer/bcfab54d7425f190ef8ce9b9979f01502a28d0f22f89fb9a49707929e57f0e5f:v1.11.0-beta.1
    wipe: false
  kernel:
    modules:
      - name: nbd
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraConfig:
      featureGates:
        ImageVolume: true
      serializeImagePulls: false
    image: ghcr.io/siderolabs/kubelet:v1.33.3
    nodeIP:
      validSubnets:
        - 10.1.1.0/24
  network:
    hostname: "{{ hostname }}"
    interfaces:
      - interface: eth0
        mtu: 9000
        dhcp: true
        vip:
          ip: 10.1.1.30
  nodeLabels:
    topology.kubernetes.io/region: main
    topology.kubernetes.io/zone: m
  sysctls:
    fs.inotify.max_user_instances: "8192"
    fs.inotify.max_user_watches: "1048576"
    net.core.default_qdisc: fq
    net.core.rmem_max: "67108864"
    net.core.wmem_max: "67108864"
    net.ipv4.neigh.default.gc_thresh1: "4096"
    net.ipv4.neigh.default.gc_thresh2: "8192"
    net.ipv4.neigh.default.gc_thresh3: "16384"
    net.ipv4.tcp_congestion_control: bbr
    net.ipv4.tcp_fastopen: "3"
    net.ipv4.tcp_mtu_probing: "1"
    net.ipv4.tcp_rmem: 4096 87380 33554432
    net.ipv4.tcp_window_scaling: "1"
    net.ipv4.tcp_wmem: 4096 65536 33554432
    sunrpc.tcp_max_slot_table_entries: "128"
    sunrpc.tcp_slot_table_entries: "128"
    user.max_user_namespaces: "11255"
    vm.nr_hugepages: "1024"
  token: op://home-ops/talos/MACHINE_TOKEN
  type: worker
cluster:
  ca:
    crt: op://home-ops/talos/CLUSTER_CA_CRT
  clusterName: main
  controlPlane:
    endpoint: https://10.1.1.30:6443
  id: op://home-ops/talos/CLUSTER_ID
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.42.0.0/16
    serviceSubnets:
      - 10.43.0.0/16
  secret: op://home-ops/talos/CLUSTER_SECRET
  token: op://home-ops/talos/CLUSTER_TOKEN
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: disk.transport == 'sata'
