---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: kyverno
  namespace: system
spec:
  interval: 30m
  chart:
    spec:
      chart: kyverno
      version: 3.1.4
      sourceRef:
        kind: HelmRepository
        name: kyverno
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    crds:
      install: true

    updateStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 1

    grafana:
      enabled: true
      annotations:
        grafana_folder: Kyverno

    backgroundController:
      serviceMonitor:
        enabled: true

      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - ""
              resources:
                - pods
              verbs:
                - create
                - update
                - patch
                - delete
                - get
                - list

    cleanupController:
      serviceMonitor:
        enabled: true

    reportsController:
      serviceMonitor:
        enabled: true

    admissionController:
      replicas: 3

      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - ""
              resources:
                - pods
              verbs:
                - create
                - update
                - delete

      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/instance: kyverno
              app.kubernetes.io/component: kyverno

      serviceMonitor:
        enabled: true
