---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: guacamole
  namespace: dev
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: database
    - name: external-secrets-stores
      namespace: security
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: system
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        # initContainers:
        #   01-init-db:
        #     image:
        #       repository: ghcr.io/onedr0p/postgres-init
        #       tag: 14
        #       imagePullPolicy: IfNotPresent
        #     envFrom: &envFrom
        #       - secretRef:
        #           name: guacamole-secret

        #   02-init-schema:
        #     image:
        #       repository: docker.io/guacamole/guacamole
        #       tag: 1.5.3
        #       imagePullPolicy: IfNotPresent
        #     command: ["/bin/sh"]
        #     args: ["-c", "/opt/guacamole/bin/initdb.sh --postgresql > /migrations/init.sql"]
        #     envFrom: *envFrom

        #   03-init-migrations:
        #     image:
        #       repository: ghcr.io/onedr0p/postgres-init
        #       tag: 14
        #       imagePullPolicy: IfNotPresent
        #     command: ["/bin/bash"]
        #     args:
        #       - -c
        #       - |
        #         export PGPASSWORD=$POSTGRESQL_PASSWORD
        #         psql -h $POSTGRESQL_HOSTNAME -d $POSTGRESQL_DATABASE -U $POSTGRESQL_USER -a -w -f /migrations/init.sql || true
        #     envFrom: *envFrom

        containers:
          main:
            nameOverride: guacd
            order: 1
            image:
              repository: docker.io/guacamole/guacd
              tag: 1.5.4
              imagePullPolicy: IfNotPresent
            env:
              TZ: "${TIMEZONE}"
              GUACAMOLE_HOME: /config
            envFrom: &envFrom
              - secretRef:
                  name: guacamole-secret
            resources:
              requests:
                cpu: 5m
                memory: 10Mi
              limits:
                memory: 500Mi

          guacamole:
            order: 2
            image:
              repository: docker.io/guacamole/guacamole
              tag: 1.5.4
              imagePullPolicy: IfNotPresent
            env:
              TZ: "${TIMEZONE}"
              GUACD_HOSTNAME: guacd
              GUACD_PORT: "4822"
            envFrom: *envFrom
            resources:
              requests:
                cpu: 250m
                memory: 100Mi
              limits:
                memory: 750Mi
    service:
      main:
        ports:
          http:
            port: 8080
      guacd:
        controller: main
        ports:
          http:
            port: 4822

    ingress:
      main:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host "console.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: config-guacamole
        globalMounts:
          - path: /config
      migrations:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /migrations
