---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: pgadmin
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: pgadmin-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        PGADMIN_DEFAULT_EMAIL: {{ .PGADMIN_DEFAULT_EMAIL }}
        PGADMIN_DEFAULT_PASSWORD: {{ .PGADMIN_DEFAULT_PASSWORD }}
  dataFrom:
    - extract:
        key: pgadmin
