---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: node-1
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  topology.kubernetes.io/zone: m
  node.kubernetes.io/gpu: "true"
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
provisioning:
  diskSelector:
    match: disk.model.startsWith("SanDisk SD9TB8")
