---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  # App
  - ./helmrelease.yaml
  # Templates
  - ../../../../templates/gatus/external
  - ../../../../templates/volsync
configMapGenerator:
  - name: filebrowser-config
    files:
      - ./config/filebrowser.json
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
