---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # App
  - ./helmrelease.yaml
  # Templates
  - ../../../../templates/gatus/guarded
  - ../../../../templates/volsync
  # - ./b2.yaml
configMapGenerator:
  - name: qbittorrent-scripts
    files:
      - completed.sh=./resources/completed.sh
  - name: qbittorrent-loki-rules
    files:
      - qbittorrent.yaml=./resources/lokirule.yaml
    options:
      labels:
        loki_rule: "true"
generatorOptions:
  disableNameSuffixHash: true
