---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: nvidia-gpu-operator
  namespace: kube-system
spec:
  interval: 15m
  chart:
    spec:
      # renovate: registryUrl=https://helm.ngc.nvidia.com/nvidia
      chart: gpu-operator
      version: v23.9.0
      sourceRef:
        kind: HelmRepository
        name: nvidia
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    operator:
      cleanupCRD: true
      upgradeCRD: true
    nfd:
      enabled: true
    driver:
      enabled: false
    toolkit:
      enabled: false
