---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: freshrss
spec:
  chartRef:
    kind: OCIRepository
    name: freshrss
  interval: 1h
  values:
    controllers:
      freshrss:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: freshrss/freshrss
              tag: 1.28.0@sha256:5664f42e37e7101c824806d8f73cbc97c8f406ce043bbdb8d39d4ff1e7f2ad11
            env:
              CRON_MIN: "*"
              DOMAIN: freshrss.rodent.cc
              LISTEN: &port 8080
              OIDC_ENABLED: 1
              OIDC_REMOTE_USER_CLAIM: preferred_username
              OIDC_SCOPES: openid email profile
              OIDC_X_FORWARDED_HEADERS: X-Forwarded-Proto X-Forwarded-Host
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 401"]
        hostnames:
          - "{{ .Release.Name }}.rodent.cc"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          freshrss:
            app:
              - path: /var/www/FreshRSS/data
                subPath: data
                readOnly: false
              - path: /var/www/FreshRSS/extensions
                subPath: extensions
                readOnly: false
