main-test.stianrs.casa.yaml
talosconfig
main-node-1.rodent.casa.yaml
main-node-2.rodent.casa.yaml
main-node-3.rodent.casa.yaml
main-node-4.rodent.casa.yaml
main-node-5.rodent.casa.yaml
main-worker-1.rodent.casa.yaml
main-worker-2.rodent.casa.yaml
