---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: gatus
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"

    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"

        type: deployment
        strategy: Recreate

        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 14.9
              imagePullPolicy: IfNotPresent

            envFrom: &envFrom
              - secretRef:
                  name: gatus-secret

          02-config-sync:
            image:
              repository: ghcr.io/kiwigrid/k8s-sidecar
              tag: 1.25.2
              imagePullPolicy: IfNotPresent

            env:
              - { name: FOLDER, value: /config }
              - { name: LABEL, value: gatus.io/enabled }
              - { name: NAMESPACE, value: ALL }
              - { name: RESOURCE, value: both }
              - { name: UNIQUE_FILENAMES, value: "true" }
              - { name: METHOD, value: LIST }

            envFrom: *envFrom

        containers:
          main:
            image:
              repository: ghcr.io/twin/gatus
              tag: v5.6.0
              pullPolicy: IfNotPresent

            env:
              TZ: Europe/Oslo
              GATUS_CONFIG_PATH: /config
              CUSTOM_WEB_PORT: &port 80

            envFrom: *envFrom

            resources:
              requests:
                cpu: 15m
                memory: 105M
              limits:
                cpu: 15m
                memory: 105M

    service:
      main:
        ports:
          http:
            port: *port

    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    ingress:
      main:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}

        hosts:
          - host: &host status.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: *port

        tls:
          - hosts:
              - *host

    serviceAccount:
      create: true
      name: gatus

    persistence:
      config:
        enabled: true
        type: emptyDir

      config-file:
        type: configMap
        name: gatus-configmap
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true
