---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: wego-cluster-user-auth
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: cluster-user-auth
    template:
      engineVersion: v2
      data:
        username: admin
        password: "{{ .weave_gitops_admin_password }}"
  dataFrom:
    - extract:
        key: weave_gitops
# ---
# # yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
# apiVersion: external-secrets.io/v1beta1
# kind: ExternalSecret
# metadata:
#   name: wego-oidc-auth
# spec:
#   secretStoreRef:
#     kind: ClusterSecretStore
#     name: onepassword-connect
#   target:
#     name: oidc-auth
#     template:
#       engineVersion: v2
#       data:
#         clientID: "{{ .authentik_weave_gitops_oauth_client_id }}"
#         clientSecret: "{{ .authentik_weave_gitops_oauth_client_secret }}"
#         issuerURL: https://authentik.${SECRET_DOMAIN}/application/o/gitops/
#         redirectURL: https://wego.${SECRET_DOMAIN}/oauth2/callback
#         customScopes: openid,profile,email
#         claimGroups: groups
#         claimUsername: preferred_username
#         tokenDuration: "168h0m0s"
#   dataFrom:
#     - extract:
#         key: weave_gitops
