---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: volsync
spec:
  interval: 30m
  chart:
    spec:
      chart: volsync
      version: 0.8.0
      sourceRef:
        kind: HelmRepository
        name: backube
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    manageCRDs: true
    image:
      repository: &image ghcr.io/onedr0p/volsync
      tag: &tag 0.8.0
    restic:
      repository: *image
      tag: *tag
    metrics:
      disableAuth: true
    resources:
      requests:
        cpu: 14m
        memory: 163Mi
      limits:
        memory: 163Mi
